body{
  background-color: rgb(15, 15, 15);
  font-size: 16px;
  color: white;
  background-image: url("../images/background.png");
  background-repeat:no-repeat;
  background-size: cover;
}

#divRet{
  position: relative;
  margin: 0 auto 0;
  top: 10px;
  width: 700px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding-bottom: 10px;
  border: #ae0a0a33 solid;

}
.div-center {
  text-align: center;
}

.container {
  margin: 0 auto 0;
  text-align: center;
}

.div-hide{
  display: none;
}

.div-show{
}

.input-form, .select-form {
  margin-bottom: 10px;
  border-radius: 5px;
}

.transition{
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.input-form[type="text"] {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  width: 40%;
}

.input-form[type="text"]:focus {
  width: 80%;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../images/loading.gif')
                50% 50%
                no-repeat;
}

img {
  width: 200px;
  margin: 0 auto 0;
  text-align: center;
}

td{
  text-align: center;
}

#TituloAno{
  text-align: center;
  font-size: 24px;
}

#infoFilme{
  text-align: justify;
  text-indent: 2em;
  padding-left: 15px;
  padding-right: 15px;
}

#listaAtores{
  text-align: left;
  padding-left: 30px;
}

h1{
  font-family: 'Tangerine', serif;
  font-size: 64px;
  padding: 4px;
  height: 20px;
}

.bDir{
  float: right;
  margin-right: 6px;
}
.bEsq{
  float: left;
  margin-left: 6px;
}

.btn {
  padding: 3px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-bottom: 5px;
  background-color: #b4b1b1;
}
